.bienvenue h1{
  font-weight: bolder;
  color: #000000;
  font-size: 25px; 
  border-radius: 2px;
  padding: 30px;
  width: 500px;
  height: 50px;
  line-height: 16px;
  margin: 10px;
  background: #9b9b9bdd;
  border: 1px solid #9b9b9bdd;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}


.bienvenue h1 > i {
  padding: 0;
  width: 0px;
  height: 0px;
  border: 6px solid transparent;
  border-top-color: #000000;
  margin-top: 25px;
  float: right;
}

.bienvenue img {
  margin-left: 18%;
  width: 140px;
  height: 140px;
}
.bienvenue {
    margin-top: 10px;
    padding-left: 35%;
    justify-content: center;
    align-items: center;
}


.bestseller {
    display: block;
    margin : 20px auto;
    padding : 10px;
    width: 70%;
    background-color: #8e8d8d;
    border: 8px solid #9b9b9bdd;
    box-shadow: 0 3px 0 3px black,
                inset 0 3px 0 3px black,
                0 0 0 3px black,
                inset 0 0 0 3px black;
}
.section-title-container {
    display: block;
    margin: 0px auto;
}
.main-title {
    
    font-size: 50px;
    align-items: center;
    justify-items: center;
}

.produit {
    margin: 10px;
    min-height: fit-content;
    background-color: rgb(45, 44, 44);
    border: 2px solid #8e8d8d;
    overflow-x: scroll;
    white-space: nowrap;
    box-shadow: 0 2px 0 2px black,
            inset 0 2px 0 2px black,
            0 0 0 2px black,
            inset 0 0 0 2px black;    
}
.img-produit{
    display: block;
    justify-content: center;
    height: 150px;
    width: 150px;
    border: 3px solid #a01111;
    box-shadow:  0 2px 0 2px black,
            inset 0 2px 0 2px black,
            0 0 0 2px black,
            inset 0 0 0 2px black;
    
}


.carte {
    justify-items: center;
    align-items: center;
    background-color: #8e8d8d;
    margin: 10px;
    padding: 7px;
    border : 2px solid #a01111;
    width: 200px;
    min-height: fit-content; 
    box-shadow: 0 1px 0 1px black,
            inset 0 1px 0 1px black,
            0 0 0 1px black,
            inset 0 0 0 1px black;
}


