@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    font-family: "Jersey 10", sans-serif;
}

.top-bar {
    display: flex;
    justify-content: flex-end; 
    position : relative;
    width: 100%;
    align-items: center;
    background-image: url("../assets/background2.png");
   
    height: 250px;
    margin: 5px;
    
}

.titre {
    display: inline-flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

.titre h1 {
    font-size: 100px;
    font-weight: bold;
    color: rgb(200, 3, 3);
    text-shadow: 10px 1px #cd4d6dd1;
}

.titre img {
    width : 200px;
    height: 200px;
}
.img {
   
    display: flex;
    gap: 15px;
    margin-right: 50px;
}

.img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
}

.bottom-bar {
    position: relative;
    justify-content: flex-end; 
    display: flex;
    width: 100%;
    align-items: center;
    background-color: red;
    height: 70px;
}

header{
    width: 100%;
}
.searchbar {
    margin : 20px;
    height: 20px;
    width : 300px;
}
ul {
    list-style-type: none;
    display: flex;
}
.navbar li {
    padding: 20px;
}

.navbar a {
    font-size: 40px;
    color: #000000;
    padding: 4px;
    border : 4px solid transparent;  
    background: #8e8d8d;
    border-radius: 5px;
    list-style-type: none;
    box-shadow: 5px 2px #000000,
    inset 3px 3px white;
    
    
}

.navbar a:hover{
    
    border : 4px solid rgb(179, 4, 4);
    box-shadow: 0 1px 0 1px black,
            inset 0 1px 0 1px black,
            0 0 0 1px black,
            inset 0 0 0 1px black;
}

.navbar{
  position:absolute;
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.bienvenue h1{
  font-weight: bolder;
  color: #000000;
  font-size: 25px; 
  border-radius: 2px;
  padding: 30px;
  width: 600px;
  height: 70px;
  line-height: 16px;
  margin: 10px;
  background: #9b9b9bdd;
  border: 1px solid #9b9b9bdd;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}
.bienvenue h1 > i {
  padding: 0;
  width: 0px;
  height: 0px;
  border: 6px solid transparent;
  border-top-color: #000000;
  margin-top: 25px;
  float: right;
}

.bienvenue img {
  margin-left: 19%;
  width: 140px;
  height: 140px;
}
.bienvenue{
  padding-left: 33%;

  justify-content: center;
}

.msg{
    background-color: black;
    border-top: 5px solid transparent;
    border-bottom:5px solid transparent;
    box-shadow: 0 1px 0 1px rgb(255, 255, 255),
              inset 0 1px 0 1px rgb(255, 255, 255),
              0 0 0 1px rgb(255, 255, 255),
              inset 0 0 0 1px rgb(255, 255, 255);
}

main {
    background-image: url("../assets/background_main.jpg");
}

.msg p {
    display: inline-block; 
    color: yellow;
    font-size: 40px;
    padding-right: 2em;                   /* un peu d'espace pour la transition */
    padding-left: 100%;                   /* placement à droite du conteneur */
    white-space: nowrap;                  /* pas de passage à la ligne */
    animation: defilement-rtl 15s infinite linear;

}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}
