*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: "Playpen Sans", cursive;

}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Island+Moments&family=Playpen+Sans:wght@100..800&display=swap');

body {
  background-image: url("/assets/background.jpg");
}

header{
  /*TODO : voir le display*/
  width: 100%;
  background-color: #EDDCD9;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #E99F4C;
  align-items: center;
  border-radius: 30px;
}

.top-bar {
  position: relative;
  display: flex;
  justify-content: flex-end; /* place les icônes à droite */
  align-items: center;
  padding: 10px;
  height: 200px;
  width: 100%;
  margin: auto;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* centre horizontalement */
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;    /* évite la déformation */
}

.img_bar {
  display: flex;
  gap: 15px;
  margin-right: 50px;
}

.img_bar img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: block;
  
}

.navbar{
  position:absolute;
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.navbar a {
  font-size: 25px;
  color: #6e481d;
  font-weight: bold;
  padding : 20px;
  margin: 10px;
}

ul {
  display: flex;
  list-style-type: none;
}

.bottom-bar{
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-color: #dcbfb8ef;
  align-items: center;
  border-radius: 30px;
}

a {
  list-style-type: none;
}

h1{
  font-weight: bolder;
  color: #6e481d;
  font-size: 80px; 
}
a {
  text-decoration: none;
}
.catalogue h2 {
  color: #6e481d;
}

.catalogue h2 a {
  color: #6e481d;
}


footer {
  background-color: #EDDCD9;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #E99F4C;
  align-items: center;
  
}
main {
  align-items: center;
}


.catalogue {
  padding: 5px;

}

.bestseller {
  background-color: #eddcd9e2;
  border: 4px solid #000000;
  border-radius: 10px;
  margin : 10px;
  overflow-x: scroll;
  white-space: nowrap;
}
.coffrets {
  background-color: #eddcd9e2;
  border: 4px solid #000000;
  border-radius: 10px;
  margin : 10px;
  overflow-x: scroll;
  white-space: nowrap;
}
.booster {
  background-color: #eddcd9e2;
  border: 4px solid #000000;
  border-radius: 10px;
  margin : 10px;
  overflow-x: scroll;
  white-space: nowrap;
}
.cartes {
  background-color: #eddcd9e2;
  border: 4px solid #000000;
  border-radius: 10px;
  margin : 10px;
  overflow-x: scroll;
  white-space: nowrap; 
}

.carte {
  border: 1px solid #050000;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 200px;
  text-align: center;
  border-radius: 5px;
}

.prix {
  color: red;
  font-weight: bold;
}