@media (max-width: 1000px) {
    .logo h1 { font-size: 40px; }
    
    .nav-bar {
        flex-wrap: wrap; /* Autorise le retour à la ligne sur tablette/mobile */
        justify-content: center;
    }
    
    .nav-links { justify-content: center; width: 100%; margin-bottom: 10px; }
    
    .nav-bar a { font-size: 20px; padding: 5px 10px; }
    
    .nav-search-form {
        order: 3;
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
    
}

@media (max-width: 700px) {
    .admin-access-btn span { display: none; }
    .admin-access-btn { padding: 5px; left: 10px; }
}

@media (max-width: 768px) {
    main {
        width: 100%;        /* Prend toute la largeur */
        border-left: none;  /* On enlève les gros murs */
        border-right: none;
        padding: 15px;      /* Padding réduit */
        box-shadow: none;
    }
}